node_modules
**/node_modules/**
.git
**/.git/**
.expo
**/.expo/**
dist
**/dist/**
android
**/android/**
ios
**/ios/**
.eas-staging-admin-mobile/
.eas-staging-admin-mobile-min/
*.log
.android-adb-user/
.android-user/
.claude/
.gradle-*/
apks/
dist/
presentaciones/
